.tasksList {
  min-height: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasksList__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: 10px;
}

.tasksList__notFound {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tasksList__list::-webkit-scrollbar {
  width: 10px;
  background-color: #6c757d;
  border-radius: 0 4px 4px 0;
}

.tasksList__list::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #000;
  border-radius: 0 4px 4px 0;
}

.TasksList__item {
  max-height: 25%;
  height: 25%;
  box-sizing: border-box;
}
